{% extends 'base.html' %} {% block title %}Edit Project{% endblock %} {% block content %}
<div class="row justify-content-center">
  <div class="col-lg-8 col-xl-7">
    <h1 class="h5 mb-3">Edit Project</h1>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <div class="d-flex gap-2 mt-3">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'project_detail' object.pk %}" class="btn btn-secondary"
          >Cancel</a
        >
      </div>
    </form>
  </div>
</div>
{% endblock %}
