{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    {% for plan in plans %}
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-header bg-secondary text-dark">
          <a
            href="{% url 'plan_details' plan.id %}"
            class="text-decoration-none text-dark"
            ><h5 class="card-title">{{ plan.name }}</h5></a
          >
        </div>
        <div class="card-body">
          <ul class="list-group">
            {% for task in plan.tasks.all %}
            <li class="list-group-item">
              <strong>{{ task.name }}</strong> - Deadline: {{ task.deadline }}
            </li>
            {% endfor %}
            <a href="{% url 'add_task' plan.id %}" class="btn btn-dark mb-3"
              >Add New Task</a
            >
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
