{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Plan Details</h2>
  <div class="card">
    <div
      class="card-header bg-secondary text-dark d-flex justify-content-between align-items-center">
      <h5 class="card-title mb-0">{{ plan.name }}</h5>
      <form
        method="post"
        action="{% url 'delete_plan' plan.id %}"
        class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
      </form>
    </div>
    <div class="card-body">
      <h6>Tasks:</h6>
      <ul class="list-group">
        {% for task in plan.tasks.all %}
        <li class="list-group-item">
          <strong>{{ task.name }}</strong> - Deadline: {{ task.deadline }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
